@import "compass/css3";
@import "compass/typography/links/unstyled-link";

a.inset-button {
    @include unstyled-link;
}

.inset-button {
    color: black;
    padding: 2% 6%;
    border-radius: 9999px;
    border-top: solid 1px #777;
    @include box-shadow(white 0 1px);
    background: #C5C5C5;
    @include background(linear-gradient(color-stops(#c8c8c8, #b7b7b7)));
    @include text-shadow(#FFF 0 1px);
    font-weight: bold;
}

.inset-button:active {
    @include background(linear-gradient(color-stops(#b7b7b7, #c8c8c8)));
}

/////////////////////

a.button {
    @include unstyled-link;
}

.button {
    border-radius: 6px;
    font-weight: bold;
    border: 0;
    border-top: solid 1.5px white;
    
    background: #C5C5C5;
    @include background( linear-gradient(color-stops(#d2d2d2, #b7b7b7)) );
    
    @include box-shadow(#777 0 2px 5px, #999 0 0 1px);
    position: relative;

    color: #515151;
    @include text-shadow(#FFF 0 1px);
}

.button:active {
    background: #AAA;
    @include background( linear-gradient(color-stops(#b7b7b7, #d2d2d2)) );
}
