header {
    font-size: 12px;
    width: 900px;
    margin: 30px auto;
}
header nav {
    float:right;
    color: black;
    text-transform: uppercase;
}
header nav ul li {
    float:left;
    width: 120px;
    text-align: right;
    letter-spacing: 1px;
    font-weight: bold;
}
header nav a:hover {
    text-decoration: underline;
}

header .blurb {
    float:left;
    background: rgb(49,49,49);
    text-align: right;
    color: white;
    padding: 9px 50px 9px 9999px;
    line-height: 12px;
    margin-left: -9999px;
}