@import "compass/css3";

.projects {
    clear:both;
    overflow:auto;

    // (so that the drop shadows render)
    padding: 5px;
    margin: -5px;
}

/////////////////////////

.project {
    font-size: 12px;
    line-height: 24px;
    width: 450px;
    float:left;
    margin-top: 30px;
}

.project:nth-child(odd) .project-container {
    margin-left: 0;
}

.project h3 {
    font-size: 20px;
    color: #ed5252;
    font-weight: normal;

    margin: 12px 0 0 0;
}

.project h4 {
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 0;
}

.project h5 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

.project-description {
    margin-top: 2em;
    max-height: 250px;
    overflow: hidden;
}

.long-project-description {
    min-height: 5em;
    max-height: 400px;
    overflow-y: scroll;
}

.project-container ul {
    list-style: none inside;
    padding: 0;
    margin-top: 0;

    min-height: 72px; // To align
}

.project-container {
    float: left;
    background: #EDEDED;
    width: 200px;
    border-top: solid rgb(218,218,218) 1px;
    @include box-shadow(#777 0 2px 5px);
    padding: 10px;
    margin: 0 20px;
}

.project-img {
    background: white;
    @include box-shadow(inset #777 0 2px 5px);

    display: block;
    width: 200px;
    height: 170px;
}

.join-button {
    font-size: 13px;
    padding: 5px 18px;
}

#project-right .join-button {
    float: right;
}

#project-right {
    position: absolute;
    right: 20px;
    left: 250px;
    top: 80px; bottom: 15px;

    padding: 0; // HACK: override
    min-height: 0; // HACK: override
}

.more-projects-link {
    display: block;
    float: right;
    
}

#looking-for-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#project-left h5 {
    margin-bottom: 0;
}

#project-left {
    padding: 0 15px; // HACK
    min-height: 0; // HACK

    overflow: hidden;

    position: absolute;
    left: 0;
    top: 90px; bottom: 15px;
    width: 200px;
}
