@import "compass/css3";

#subscribe {
    text-align: center;
    color: #79c8f1;
    font-size: 14px;
}

#subscribe-box {
    display: block;
    width: 560px;
    height: 70px;
    margin: 0 auto;
    background: #37b3f2;

    @include background( linear-gradient(color-stops(#4bbef4, #259eee)) );

    border-radius: 6px;
    
    // Highlight
    border-top: solid 1.5px #d3effc;

    @include box-shadow(#08141d 0 2px 5px);
}

#subscribe-box .email {
    display:block;
    border: 0;
    padding: 0;
    float: left;
    height: 42px;
    margin: 14px 18px;
    
    width: 325px;
    
    font-size: 18px;
    
    padding-left: 13px;
    
    background: #1575b3;
    @include background( linear-gradient(color-stops(#085d93, #0a74b6)) );
    
    @include box-shadow(#94D1F7 0 1px);
    
    border-radius: 6px;
}

#subscribe-box .email:focus {
    outline: none;
}

#subscribe-box .submit {
    float: right;
    height: 100%;
    margin: 0;
    background: transparent;
    border: 0;
    padding: 0 25px;
    border-left: solid #61C9F6 1px;
    @include box-shadow(#1283E7 -1px 0);
    
    border-radius: 0 6px 6px 0;
    
    letter-spacing: 1px;
    @include text-shadow(#444 0 -1px);
    font-weight:bold;
    font-size: 23px;
    line-height: 23px;
}

#subscribe-box .submit:active {
        background: #2084c7;
        @include background( linear-gradient(color-stops(#259eee, #4bbef4)) );
}
