<footer>
  <div class="content">
    <h3>
    	<%= image_tag "facebook.png", :alt => "Facebook" %>
    	<span>Connect with us</span>
    <h3>
    <h3>Questions/Comments?</h3>
    <p>Just <a href="mailto:">email us</a> and we&rsqo;ll respond as fast as possible
  </div>
  <small>
  	Website designed by <a href="#">Linda Dong</a>. Logo by <a href="#">Maya Irvine</a>. Some icons by <a href="#">brsev</a>.
  </small>
</footer>