<footer>
  <div class="content">
    <section>
      <h3><%= image_tag "connect_with_us.png", :alt => "Connect with us" %></h3>
      <ul class="connect-links">
        <li>
          <a href="http://www.twitter.com/makecmu">
            <%= image_tag "twitter.png", :alt => "Twitter" %>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/makecmu">
            <%= image_tag "facebook.png", :alt => "Facebook" %>
            <span>Facebook</span>
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h3><%= image_tag "questions_comments.png", :alt => "Questions/Comments?" %></h3>
      <p>Just <a href="mailto:info@makecmu.com">email us</a> and we&rsquo;ll respond as fast as possible!</p>
    </section>
    <p class="footer-credits">
    	Website designed by <a href="http://lindadong.com/">Linda Dong</a>. Logo by <a href="http://mayairvine.com/">Maya Irvine</a>. Some icons by <a href="http://brsev.deviantart.com/">brsev</a>.
    </p>
  </div>
</footer>