<header>
  <div class="blurb">First meeting is Oct 30 6pm at CFA STUDIO for Creative Inquiry! Don&lsquo;t miss it!</div>
  <nav>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="http://www.twitter.com/makecmu">Twitter</a></li>
      <li><a href="http://www.facebook.com/makecmu">Facebook</a></li>
    </ul>
  </nav>
</header>