<header>
  <div class="blurb">Our first meeting is <%= link_to '6pm this Friday at the STUDIO for Creative Inquiry', events_path, :class => "modal" %>! Don&lsquo;t miss it!</div>
  <nav>
    <ul>
      <!-- <li><a href="#">About Us</a></li> -->
      <% unless params[:controller] == 'home' %>
	      <li><%= link_to "Home", root_url %></li>
      <% end %>
      <li><%= link_to "Twitter", LINKS[:twitter] %></li>
      <li><%= link_to "Facebook", LINKS[:facebook] %></li>
    </ul>
  </nav>
</header>