<header>
  <div class="blurb">First meeting is Oct 30 6pm at CFA STUDIO for Creative Inquiry! Don&lsquo;t miss it!</div>
  <nav>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><%= link_to "Twitter", LINKS[:twitter] %></li>
      <li><%= link_to "Facebook", LINKS[:facebook] %></li>
    </ul>
  </nav>
</header>