<section id="intro">
  <div class="content">
  	<h1>MAKECMU</h1>
  	<h3>A hack space for students</h3>
	
  	<p>	MakeCMU is a student organization at Carnegie Mellon University
  		dedicated to building neat technology & design-related projects.
  		MakeCMU loves new ideas - talking them over with friends, losing
  		entire weekends to planning and building them, and at the end of 
  		the day, being able to step back and say "I built that!"</p>
	
  	<%= image_tag "venn.gif", :title => "at the intersection of technology and the arts", :id => "venn-diagram", :width => 615, :height => 194 %>
	
  	<p>
  	  <em>Our Mission</em> is to bring together idea-filled CMU students
  		and build a hack space for developers, engineers, artists, and designers
  		to finally program or weld or paint their ideas together.  Using our
  		diverse talents, we can help you dive into fields you've never touched
  		before.
  	</p>
	</div>
</section>