<section id="intro">
  <div class="content">
  	<h1>MAKECMU</h1>
  	<h3>A hack space for students</h3>
	
  	<p>
    Make CMU is a student-run, interdisciplinary organization supporting people at Carnegie Mellon University who <b>make things with computers</b>. Our members focus on the practical application of their knowledge—on making things—rather than the theoretical. We create real projects that are useful to the campus community and beyond.
    </p>
	
  	<%= image_tag "venn.gif", :title => "at the intersection of technology and creativity", :id => "venn-diagram", :width => 615, :height => 194 %>
	
  	<p>
  	  <em>Our Mission</em> is to unite CMU students working at the intersection of technology and creativity. Our weekly hack sessions, lively mailing list, and project showcase foster a community where ideas can flourish. Join us to hone your skills, learn from peers, and meet others interested in making things.
    </p>
	</div>
</section>