<section id="participate" class="alternate">
  <div class="content">
    <a href="#top" class="top-link">Top</a>
  	<h1><%= image_tag "participate.png", :alt => "Participate" %></h1>
	
  	<p>	MakeCMU meets for weekly hack sessions where people can work on their
  		ideas in a collaborative and engaging environment.</p>
		
  	<ul id="action-links">
  	 <li class="brainstorm">
  	   <a href="#showcase">Brainstorm ideas</a>
  	 </li>
  	 <li class="attend">
  	   <a href="#">Attend the Meetings</a>
  	 </li>
  	 <li class="subscribe">
  	   <a href="#subscribe" class="subscribe-link">Subscribe to the newsletter</a>
  	 </li>
  	</ul>
	
	  <div id="subscribe">
      <form action="http://makecmu.us2.list-manage.com/subscribe/post?u=549f41d8a8c1be30d8fb3291f&amp;id=b4d2cd3851" method="post" id="subscribe-box" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    			<input type="email" value="" name="EMAIL" class="email" placeholder="Your email address" id="subscribe-email" required>
    			<button type="submit" id="subscribe-submit" class="submit">Subscribe!</button>
    	</form>
      <span>(We'll keep you informed on upcoming meetings and events)</span>
    <div>
  </div>
</section>