<section id="participate" class="alternate">
  <div class="content">
    <a href="#top" class="top-link">Top</a>
  	<h1><%= image_tag "participate.png", :alt => "Participate" %></h1>
	
  	<p>	MakeCMU meets for weekly hack sessions where people can work on their
  		ideas in a collaborative and engaging environment.</p>
		
  	<ul id="action-links">
  	 <li class="brainstorm">
  	   <a href="#">Brainstorm ideas</a>
  	 </li>
  	 <li class="attend">
  	   <a href="#">Attend the Meetings</a>
  	 </li>
  	 <li class="subscribe">
  	   <a href="#">Subscribe to the newsletter</a>
  	 </li>
  	</ul>
	
	  <div id="subscribe">
      <form id="subscribe-box">
    			<input type="email" class="email" value="Your email address"/>
    			<button type="submit" class="submit">Subscribe!</button>
    	</form>
      <span>(We'll keep you informed on upcoming meetings and events)</span>
    <div>
  </div>
</section>