<div class="project">
  <div class="project-container">
    <img src="" class="project-img">
    <h4>People wanted:</h4>
    <ul>
      <li>Designer</li>
      <li>Developer</li>
      <li>Business-person</li>
    </ul>
    <a href="" class="inset-button join-button">
      Join this project
    </a>
  </div>

  <h3>Project Title</h3>
  <h5>Author</h5>
  <div class="project-description">
    This is an awesome idea where we're trying to get
    awesome people to do awesome things together. In the
    end we want to create the next generation of great stuff
  </div>  
</div>