	  <div class="section-arrow">Want to start a project or idea? It&lsquo;s really easy.</div>
	
  	<div class="arrow-right">
  		<button href="" id="submit-idea" class="button">
  			Submit an idea!
  		</button>
  	</div>