	  <div class="section-arrow">Want to start a project or idea? It&lsquo;s really easy.</div>
	
  	<div class="arrow-right">
  		<%= link_to new_project_path, :id => "submit-idea", :class => "button modal" do %>
  			Submit an idea!
  		<% end %>
  	</div>