<header>
  <div class="blurb">First meeting is Oct 30 6pm at CFA STUDIO for Creative Inquiry! Don&lsquo;t miss it!</div>
  <nav>
    <ul>
      <li>About Us</li>
      <li>Twitter</li>
      <li>Facebook</li>
    </ul>
  </nav>
</header>

<!-- Title Section -->
<section id="intro">
  <div class="content">
  	<h1>MAKECMU</h1>
  	<h3>A hack space for students</h3>
	
  	<p>	MakeCMU is a student organization at Carnegie Mellon University
  		dedicated to building neat technology & design-related projects.
  		MakeCMU loves new ideas - talking them over with friends, losing
  		entire weekends to planning and building them, and at the end of 
  		the day, being able to step back and say "I built that!"</p>
	
  	<%= image_tag "venn.gif", :title => "at the intersection of technology and the arts", :id => "venn-diagram", :width => 615, :height => 194 %>
	
  	<p>
  	  <em>Our Mission</em> is to bring together idea-filled CMU students
  		and build a hack space for developers, engineers, artists, and designers
  		to finally program or weld or paint their ideas together.  Using our
  		diverse talents, we can help you dive into fields you've never touched
  		before.
  	</p>
	</div>
</section>

<!-- Participate -->
<section id="participate" class="alternate">
  <div class="content">
    <a href="#top" class="top-link">Top</a>
  	<h1>PARTICIPATE!</h1>
	
  	<p>	MakeCMU meets for weekly hack sessions where people can work on their
  		ideas in a collaborative and engaging environment.</p>
		
  	<ul id="action-links">
  	 <li class="brainstorm">
  	   <a href="#">Brainstorm ideas</a>
  	 </li>
  	 <li class="attend">
  	   <a href="#">Attend the Meetings</a>
  	 </li>
  	 <li class="subscribe">
  	   <a href="#">Subscribe to the newsletter</a>
  	 </li>
  	</ul>
	
	  <div id="subscribe">
      <form id="subscribe-box">
    			<input type="email" class="email" value="Your email address"/>
    			<button type="submit" class="submit">Subscribe!</button>
    	</form>
      <span>(We'll keep you informed on upcoming meetings and events)</span>
    <div>
  </div>
</section>

<!--Showcase -->
<section id="showcase">
  <div class="content">
    <a href="#top" class="top-link">Top</a>
  	<h1>SHOWCASE</h1>
  	<h3>View and join existing MakeCMU projects</h3>
	
	  <div class="section-arrow">Want to start a project or idea? It&lsquo;s really easy.</div>
	
  	<div class="arrow-right">
  		<button href="" id="submit-idea" class="button">
  			Submit an idea!
  		</button>
  	</div>
	
  	<div class="projects">
		
  		<!-- Project template -->
  		<div class="project">
  			<div class="project-container">
  				<img src="" class="project-img">
  				<h4>People wanted:</h4>
  				<ul>
  					<li>Designer</li>
  					<li>Developer</li>
  					<li>Business-person</li>
  				</ul>
  				<a href="" class="inset-button join-button">
  					Join this project
  				</a>
  			</div>
			
			
  			<h3>Project Title</h3>
  			<h5>Author</h5>
  			<div class="project-description">
  				This is an awesome idea where we're trying to get
  				awesome people to do awesome things together. In the
  				end we want to create the next generation of great stuff
  			</div>	
  		</div>
  		
  		<div class="project">
  			<div class="project-container">
  				<img src="" width="100%" height="170px" class="project-img">
  				<h4>People wanted:</h4>
  				<ul>
  					<li>Designer</li>
  					<li>Developer</li>
  					<li>Business-person</li>
  				</ul>
  				<a href="" class="inset-button join-button">
  					Join this project
  				</a>
  			</div>
			
			
  			<h3>Project Title</h3>
  			<h5>Author</h5>
  			<div class="project-description">
  				This is an awesome idea where we're trying to get
  				awesome people to do awesome things together. In the
  				end we want to create the next generation of great stuff
  			</div>	
  		</div>

            <div class="project">
        <div class="project-container">
          <img src="" width="100%" height="170px" class="project-img">
          <h4>People wanted:</h4>
          <ul>
            <li>Designer</li>
            <li>Developer</li>
            <li>Business-person</li>
          </ul>
          <a href="" class="inset-button join-button">
            Join this project
          </a>
        </div>
      
      
        <h3>Project Title</h3>
        <h5>Author</h5>
        <div class="project-description">
          This is an awesome idea where we're trying to get
          awesome people to do awesome things together. In the
          end we want to create the next generation of great stuff
        </div>  
      </div>

            <div class="project">
        <div class="project-container">
          <img src="" width="100%" height="170px" class="project-img">
          <h4>People wanted:</h4>
          <ul>
            <li>Designer</li>
            <li>Developer</li>
            <li>Business-person</li>
          </ul>
          <a href="" class="inset-button join-button">
            Join this project
          </a>
        </div>
      
      
        <h3>Project Title</h3>
        <h5>Author</h5>
        <div class="project-description">
          This is an awesome idea where we're trying to get
          awesome people to do awesome things together. In the
          end we want to create the next generation of great stuff
        </div>  
      </div>

  	</div>

  </div>
</section>

<!-- Footer -->
<footer>
  <div class="content">
    Connect with us
  </div>
</footer>