<!-- Title Section -->
<section>
	<h1>MAKECMU<h1>
	<h3>A hack space for students</h3>
	
	<p>	MakeCMU is a student organization at Carnegie Mellon University
		dedicated to building neat technology & design-related projects.
		MakeCMU loves new ideas - talking them over with friends, losing
		entire weekends to planning and building them, and at the end of 
		the day, being able to step back and say "I built that!"</p>
	
	<!-- Insert graphic here -->	
	
	<p>	<em>Our Mission</em> is to bring together idea-filled CMU students
		and build a hack space for developers, engineers, artists, and designers
		to finally program or weld or paint their ideas together.  Using our
		diverse talents, we can help you dive into fields you've never touched
		before.</p>
</section>

<!-- Participate -->
<section>
	<h1>PARTICIPATE!</h1>
	
	<p>	MakeCMU meets for weekly hack sessions where people can work on their
		ideas in a collaborative and engaging environment.</p>
		
	<!-- Insert brainstorm/attend/subscribe graphic here -->
	
	<form>
			<input type="email"/>
			<input type="submit"/>
	</form>
	<small>(We'll keep you informed on upcoming meetings and events)</small>

</section>

<!--Showcase -->
<section>
	<h1>SHOWCASE</h1>
	<h3>View and join existing MakeCMU projects</h3>
	
	<div class="arrow-right">
		<a href="" id="submit-idea" class="button">
			Submit an idea!
		</a>
	</div>
	
	<div class="projects">
		
		<!-- Project template -->
		<div class="project">
			<div class="project-container">
				<img src="" class="project-img">
				<h4>People wanted:</h4>
				<ul>
					<li>Designer</li>
					<li>Developer</li>
					<li>Business-person</li>
				</ul>
				<a href="" class="join-project button">
					Join this project
				</a>
			</div>
			
			
			<div class="project-title">Project Title</div>
			<div class="project-author">Author</div>
			<div class="project-desc">
				This is an awesome idea where we're trying to get
				awesome people to do awesome things together. In the
				end we want to create the next generation of great stuff
			</div>	
		</div>

	</div>
	
	


</section>

<!-- Footer -->
<footer>

</footer>