<h1 id="next-meeting-title">Next Meeting</h1>
<section id="meeting-info">
	<h2>Hack Session</h2>
	<dl>
		<dt>Date</dt><dd>Sunday, January 15 2012</dd>
		<dt>Time</dt><dd>5:00 - 7:00 PM</dd>
		<dt>Place</dt><dd>STUDIO for Creative Inquiry</dd>
	</dl>
	<p>Our first weekly hack session</p>
</section>
<section id="supplemental-info">
	<h3>Getting There</h3>
	<p>The STUDIO for Creative Inquiry is in room 111 of the College of Fine Arts building. Look for the blue neon sign!
	<h3>What to expect</h3>
	<p>Meetings are informal. Bring what you're working on to share with others. Power and desk space are provided.</p>
</section>
<section id="links">
	Subscribe to our calendar with
	<a href="https://www.google.com/calendar/ical/rku7tgm7pt63bir3ttqfdmt0bo%40group.calendar.google.com/public/basic.ics">iCal</a> or
	<a href="http://www.google.com/calendar/render?cid=rku7tgm7pt63bir3ttqfdmt0bo%40group.calendar.google.com" target="_blank">Google Calendar</a>
</section>