<h1 id="next-meeting-title">Next Meeting</h1>
<section id="meeting-info">
	<h3><a href="#">Hack Session</a></h3>
	<p>Sunday, January 15 2012</p>
	<p>5:00 - 7:00 PM</p>
	<p>STUDIO for Creative Inquiry</p>
	<p>Our first weekly hack session</p>
		<p>Sunday, January 15 2012</p>
	<p>5:00 - 7:00 PM</p>
	<p>STUDIO for Creative Inquiry</p>
	<p>Our first weekly hack session</p>
</section>
<section id="maps">
	<h3>Getting There</h3>
	<ol>
		<li>The STUDIO for Creative Inquiry is in the College of Fine Arts building on Carnegie Mellon campus.</li>
		<li>
	</ol>

</section>
<section id="links">
	Subscribe to our calendar with
	<a href="#">iCal</a> or
	<a href="#">Google Calendar</a>
</section>