<h1 id="next-meeting-title">New Project</h1>
<section id="meeting-info">
<%= render 'form' %>
</section>
<section id="supplemental-info">
<p>
We want to know what you're making!
</p>
<p>
Fill out this form with a detailed description and image of your project to add it to the showcase.
</p>
</section>