<h1 id="next-meeting-title">New Project</h1>
<section id="meeting-info">
<%= render 'form' %>
</section>
<section id="supplemental-info">
Add information about your project and we'll notify you when people are interested in helping.
</section>