/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

html {
    background: url("background.jpg");
    font: 13px "Helvetica Neue", arial, helvetica, sans-serif;
}

body {
}

section {
    margin: 0 auto;
    width: 900px;
}

#participate {
    background: blue;
}