/*
 *= require_self
 *= require_tree ./home/
 */

::-moz-selection { background: #78c7ef; }
::selection { background: #78c7ef; }

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

section {
    min-height:550px;
    padding: 60px 0;
}

.content {
    width:900px;
    margin:0px auto;
}

em {
	color:#ED5252;
	font-style:normal;
}

section.alternate {
    background: rgb(14,35,49);
    box-shadow: inset #07121a 0 0 10px;
    color: white;
}

.alternate a {
    color: white;
}

.alternate h1, .alternate h2, .alternate h3, .alternate h4, .alternate h5 {
    color: white;
}

.alternate input, .alternate button {
    color:white;
}

h1 {
    margin: 10px 0;
    font-size: 60px;
    line-height: 60px;
}