#cboxOverlay{
	background:rgba(0,0,0,0.5)
}

#colorbox, #cboxWrapper {
	overflow:visible;
}

#colorbox {
	border: solid 10px #222;
	border-radius: 15px;
	background: white;
}

#cboxLoadingOverlay {
	position: absolute;
	left: 50%; top: 50%;

	margin: 0 -21px 0 -21px; 
	width: 42px; height: 42px;
}

// Round black close button
#cboxClose {
	position:absolute;
	top: -20px; right: -20px;

	border: solid white 4px;
	border-radius:30px;

	width: 25px;
	height: 25px;

	background:black;
	box-shadow: black 0 0 5px;

	text-indent: -99999px; // Hide default text
}
// X for close button
#cboxClose:after {
	content: "\D7"; // Multiplication sign

	font-weight: bold;
	color:white;
		
	position: absolute;
	top: 0; left:0;
	width: 25px;
	text-align:center;
	line-height: 20px;

	text-indent: 0; // Undo text hiding trick
}