// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_project .actions {
	margin-top: 20px;
}
.new_project input[type="checkbox"] {
	margin: 20px 0;
	margin-right: 8px;
}